@media only screen and (min-width: 320px) {
    header {
        display: flex;
    }

    .twitch_logo {
        width: 45vw;
        height: 50px;
    }

    h1 {
        font-size: 9vw;
    }

    .channel_logo {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .channel_name {
        font-size: 13px;
        padding-left: 5%;
    }

    h3 {
        font-size: 12px;
        padding-left: 5%;
        font-family: 'Ubuntu', sans-serif;
        font-style: italic;
    }

    td {
        padding: 1%;
        border-bottom: 1px solid black;
    }

}

@media only screen and (min-width: 375px) {
    .channel_name {
        font-size: 15px;
    }

    h3 {
        font-size: 13px;
    }
}

@media only screen and (min-width: 425px) {
    header {
        padding-left: 2%;
    }
}

@media only screen and (min-width: 768px) {
    .twitch_logo {
        width: 40vw;
        height: 70px;
        padding: 5%;
    }

    h1 {
        font-size: 7vw;
        padding-top: 1%;
    }

    .channel_logo, .channel_name {
        margin-left: 50%;
    }

    .channel_name {
        font-size: 17px;
    }

    h3 {
        font-size: 15px;
        margin-left: 15%;
    }

    .channel_logo {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .channel_logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
}