body {
    background-color: #815fc0;
}

header {
    background-color: #4b307b;
    border-bottom: 1px solid #202020;
}

.twitch_logo {
    padding: 10px;
    background-color: white;
}

.twitch-link {
    background-color: white;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: aliceblue;
}

.table-container {
    overflow-x: auto;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #202020;
}

.channel_name {
    text-decoration-line: none;
    color: darkblue;
    font-family: 'Ubuntu', sans-serif;
}

.offline {
    background-color: rgb(186, 220, 250);
}

.online {
    background-color: aliceblue;  
}

.fa-github {
    color:aliceblue;    
    transform: rotate(-360deg);
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.fa-github:hover {
    color: blue;
}

.github-profile-link {
    color: blue;
    text-decoration-line: none;
}

footer {
    background-color: #202020;
}

p {
    text-align: center;
    padding-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
}