header {
    background-color: #4b307b;
}

body {
    background-color: #815fc0;
}

table {
    width: 100%;
    background-color: aliceblue;
    border-collapse: collapse;
}

td {
    padding: 3%;
    border-bottom: 1px solid black;
}

.channel_name {
    text-decoration-line: none;
    color: darkblue;
    font-family: 'Ubuntu', sans-serif;
}

.twitch_logo {
    padding: 10px;
    z-index: 2;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: whitesmoke;
}

.fa-github {
    transform: rotate(-360deg);
    margin-left: 50%;
    margin-top: 30%;
    transform: translate(-50%, -50%);
}

.fa-github {
    color: black;
}

.fa-github:hover {
    color: #00CED1;
}

.github-profile-link {
    color: blue;
    text-decoration-line: none;
}

p {
    text-align: center;
    margin-bottom: 5%;
}